<a href="https://colab.research.google.com/github/cu-gwc-datascience/classes/blob/main/Week2_Objects_Booleans_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 2: Review of Objects, Booleans, and Statements**

  Girls Who Code @ Columbia

  Class 3: Intro to Data Science

  Week 2: Introduction to: 
  

*   Objects (Numbers, Strings, and Lists)
*   Boolean statements
*   If statements 

Material adapted from Weeks 3 & 4 of [pyclub](https://github.com/pyclub-cu/classes#readme) curriculum by Una Miller (ukm2103@columbia.edu) and Marina Gemma (meg2203@columbia.edu).

## **Label your notebooks**

1. Click on "Copy to Drive"

2. Rename your notebook "Week2_YourName"


**Learning Objectives:**
* Learn about lists 
* Learn how to assign variables 
* Learn about indexing and slicing 
* Do some math calculations! 
* Break!
* Learn about ocean temperature 
* Learn what Argo floats are 
* Understand the concept of quality control 
* Write Boolean statements 
* Write if statements 
* Write for loops

### **Icebreaker!**
<img src='https://drive.google.com/uc?id=10o4W7pFpFvN6hspQjQ1OR1Vk0SISEcGh'>

> **Question: Let's name as many creatures (or things) of the sea as you can!**
> Later, we will learn to add them to existing lists!
> 
> Example: Sea urchins, jellyfish and plastic bottles!

> **Question: What do you like to do to keep cool when it's really hot outside? What temperature do you think it is when it's really hot in New York?**
>
>Think about what the highest and lowest temperatures in the ocean might be. Would you believe someone who told you that where they lived it was 400$^\circ$F?


**Icebreaker answers:**

* Our answers! (jellyfish, surfers ðŸ„ðŸ½â€â™€ï¸, sea snails, etc.)

# **Recap: numbers and strings**

Last week, we learnt about `print()` statements, and objects: numbers and strings (words/letters).

Most things in Python are objects, from numbers and strings, to a list of items, such as this list of prime numbers:
```
[2,3,5,7,11,13]
```

Now, here's my grocery list ðŸ›’:
```
['apples','yams','bread','eggs','sour patch kids']
```

**Lists** start and end with square brackets: `[]`, with each item separated by a comma.

> Both of the above are lists, but they are different in one major way. **What do you think that is?**

In [ ]:
# your answer here

# **Lists**

Lists are used to store multiple items in one collection.

### **Example: marine life!**
Let's put our ice breaker answers into a list:

In [ ]:
# ice breaker creatures

What can we do with this list?

* We can count how many creatures we came up with
* We can learn how to select specific items in the list
* We can add more creatures!

## **`len()` command**
The `len()` command tells us the length of a list. While we could *manually* count the length, using the `len()` command is much more efficient.

In [ ]:
# an example of using len() with my groceries list
len(['apples','yams','bread','eggs','sour patch kids'])



This is especially useful when our lists get very long.

> **So, how many creatures are in our list?**

In [ ]:
# how many creatures are in our list?

Now, as we just experienced, retyping that list to enter into the `len()` command was not very efficient. 

This is when saving a list (or other objects) can come in handy.

We can save a list under a meaningful name.

> **Let's try naming our list of creatures**

In [ ]:
# storing our list with a meaningful name
creatures = #copy list

In [ ]:
# try printing your list here!

In [ ]:
# now try the len() command again on your list name instead!

## **Assigning Variables**
So, we've just assigned our list to a name. In Python, these names are called "**variables**".

**What are variables?**
> Variables are where we can store objects in our code. We can assign different types of objects (floats, integers, strings, lists, etc.) to variables

If we want to save something for later use, we need to assign them to variables.

Here is an example of assigning a number to a variable:

In [ ]:
my_age = 77

Here is an example of assigning a string to a variable:

In [ ]:
my_name = 'Name'

> SOME THINGS TO NOTE:
>
> As you can see, the variable name is always on the left, and the value is on the right
>
> i.e. `x = 2`, *NOT* `2 = x`
>
> It is helpful to pick a variable name that tells you about the object being stored (similar to how you might name a file on your computer based on what it contains).

By defining `my_name` and `my_age`, as we did above, Python will remember these variables during the rest of this session.

In [ ]:
print(my_age)

You can also reassign variables:

In [ ]:
my_name = '<enter your name here>'
print(my_name)

In [ ]:
my_age = '<enter your age here>'
print(my_age)

## **Indexing**
Now that we've stored our list as a variable, we can more easily access it! Hooray!

What if we want to access a specific item in the list? We can do this with **indexing**.

> Python indexing is a numbering system that **starts from zero**!

This is extremely important to remember when using Python - you have to start counting from `0` instead of `1`!

Take a look at our groceries list:

<img src='https://drive.google.com/uc?id=124cKVTYKX6a9m2k6lguiNPOqw4qoWY7h'>

Starting with `0`, we can associate each grocery item with an index number:

In [ ]:
groceries = ['apples','yams','bread','eggs','sour patch kids']

# the first item in the list has index 0
groceries[0]

In [ ]:
# try to select a different item from groceries using indexing

Because we start indexing from 0, the last item in a list always has an index that is one **less** than the list length:

In [ ]:
# last item of groceries has index 4
groceries[4]

> Here's a tip: you can always access the last item in a list by using a -1 index.
>
> **Give it a go. What happens if you try an index of -2?**

In [ ]:
# try using a -1 index

In [ ]:
# try using a -2 index


> **Now try to get the first creature from our creatures list!**

In [ ]:
# the first creature


> **Now try to get the last creature from our creatures list!**

In [ ]:
# the last creature

## **Slicing**

We can also select a sequence of items in the list by **slicing**! 

Slicing works by specifying a start number and end number in the index, separated by a `:`

> **Try `creatures[0:3]`**

In [ ]:
# try here

> Notice that the sliced result begins with your start index, but only **goes up to and not including** the end index


> TIP: to get a slice to the very end of the list, you can simply omit an end index, like so

In [ ]:
# slicing from the 3rd item ('bread') to the last item of groceries
groceries[2:]

> **Slice `creatures` starting from 'sea snails' to the last creature**

In [ ]:
# here's the list for reference
print(creatures)

In [ ]:
# slice from 'sea snails' to the LAST creature

# **Marine life seen at Rockaway Beach**

<img src='https://drive.google.com/uc?id=10GLI1eLUNSLZKBvStbOnI56vYYmgFKIB'>

Here's a list of some of the living things that have been spotted at the Rockaways!

In [ ]:
# big list of somes species at the Rockaways
rockaway_species = ['lobster', 'crabs', 'shrimp', 'seagull','heron', 'pelican',
                    'eel', 'herring', 'needlefish', 'sturgeon', 'anchovy',
                    'seabass', 'seahorse','mummichog', 'pufferfish', 'sunfish',
                    'striped bass', 'blue shark', 'bull shark', 'nurse shark',
                    'sandbar shark', 'scalloped hammerhead', 'mako shark', 
                    'thresher shark', 'atlantic torpedo ray', 'little skate',
                    'roughtail stingray', 'bottlenose dolphin', 'grey seal',
                    'blue whale', 'fin whale', 'north alantic right whale',
                    'humpback whale', 'moon jellyfish', 'starfish', 'clams',
                    'mussels', 'oysters', 'algae', 'sea lettuce']

> **How long is this list?**

In [ ]:
# number of species

Items can be added to the list. Maybe you've observed a species on your last trip to the Rockaways that isn't on this list! 

To add, we can use the `append()` function:

In [ ]:
# appending example
rockaway_species.append('minke whale')

We can also add our `creatures` list to `rockaway_species` by using addition (`+`)!

`list_one + list_two`

> **Let's add the `creatures` list to `rockaway_species`**

In [ ]:
# add creatures to rockaway_species

In [ ]:
# rename updated list

# **Mathematical operations**

Remember, Python can do math, much like a calculator!

* to add, use `+`
* to subtract, use `-`
* to multiply, use `*`
* to divide, use `/`
* to use an exponent, use `**`
    * to raise x to the power of 2, you can do: `x**2`
    * to take the square root of x, you can do: `x**(1/2)`
* brackets can be used to infer the order of operations

**Exercise**

> Earlier, we stored your age. What will your age be in 5 more years?
>
> **Calculate the answer by using `my_age` and a simple math operation**

In [ ]:
# enter answer below

Mathematical operations are not limited to only numbers in Python. We've added lists, and we've also added numbers. We can also add strings!

> **ATTENTION: Apples and Oranges!**
>
> You can only add numbers to other numbers, OR strings to other strings. In order to add a number to a string, you need to **convert** the number to a string format first. For example:

In [ ]:
print(my_name + ' is ' + str(my_age)  + ' years old.')

In [ ]:
# try your own sentence below

You **cannot** convert a string to a number.

# **Extra: more math!**
Some more math if you want to try equations with multiple variables

**Example of how to solve this equation**
> If y = 2x + c,
>
> where x = 0.5 and c = 42
>
> **What is y?**

In [ ]:
# first assign variables
x = 0.5
c = 42

In [ ]:
# next, write the equation
y = 2*x + c

In [ ]:
# what is y?
y

**Exercise for you!**

> y = 2a$^{2}$ + 6b + c ,
>
> where a = 5, b = 2 and c = 3
>
> **What is y?**

In [ ]:
# assign the variables

In [ ]:
# write the equation

In [ ]:
# what is y

> Hint: to raise x to the power of 2, you can do `x**2`

# **Dictionaries**

We've seen that we can access items in a list by using numerical **indices** (plural of index!). You can also index with words. This is used in Python dictionaries, _another_ type of Python object.

* Much like lists, dictionary items are separated by commas.
* Unlike lists, dictionaries begin and end with curly brackets `{}`
```
d = {
    <key>: <value>,
    <key>: <value>,
    ...
    <key>: <value>
}
```

> The "index" of a dictionary is called a **key**.
>
> The associated **values** can be numbers, strings, or lists.

In [ ]:
# a dictionary for a shark tracked at https://www.ocearch.org/
Finn = {'species': 'white shark',
        'length [m]': 1.5,
        'weight [lbs]': 79.2,
        'GPS ping': 'Long Beach, NY'
}

# another shark
Bonac = {'species': 'blue shark',
        'length [m]': 2.9,
        'weight [lbs]': 216,
        'GPS ping': 'Atlantic Ocean'
    
}

# Break Time!

<img src='https://media2.giphy.com/media/PkSAuBLO8wvATmcTYk/giphy.gif?cid=ecf05e47xl9umx3c0yrnw1z35jspkx5ev2j01qxgwbrqa728&rid=giphy.gif&ct=g'>

# **Ocean temperature**

Here is a video of surface ocean temperature between 2008 and 2019.

In [ ]:
#This code embeds the video below. You don't need to run it, just press play.
from IPython.display import HTML

HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/xvbV9llG5L8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

> The ocean's temperature is different in different places and at different times. 
>
>**What factors affect ocean temperature?**

In [ ]:
# Write the reasons temperature in the ocean might be larger or smaller than normal:
print('your answer')


Here's a picture that might help:

![Tilted earth](https://www.lpi.usra.edu/education/skytellers/seasons/images/fig2.jpg)

>The maximum temperature of the ocean (away from hydrothermal vents) is about 88$^\circ$F, or 30$^\circ$C.
>The minimum temperature of the ocean is about 28$^\circ$F, or -2$^\circ$C. 
>
>**Why is the minimum temperature of the ocean -2$^\circ$C?**

In [ ]:
# Write the reason the ocean's minimum temperature is -2C.
print('your answer here')

# **Measuring ocean temperature with robotic floats**

One way that oceanographers measure temperature is using **Argo floats**. 

Argo floats are robotic floats that look like this:


![Natalie_Freeman_Argo.jpeg](https://soccom.princeton.edu/sites/default/files/imagesimages/Natalie_Freeman_AndrexII_2019.jpeg)
![Earle_argo.jpg](https://www.mbari.org/wp-content/uploads/2020/10/soccom-float-carry-640.jpg)


We drop Argo floats into the ocean from a boat, and then they move up and down, measuring temperature. They send the measurements back to us through satellites. They last for 3-5 years. 

![argo_cycle.png](https://www.researchgate.net/profile/Taiyo_Kobayashi/publication/236890021/figure/fig2/AS:299424635998209@1448399804347/Schematic-diagram-of-float-operation-in-the-ocean-under-Argo.png)

### **What is Quality Control?**

Sometimes Argo floats don't measure the ocean accurately. This often happens because of **bio-fouling.** 

>Bio-fouling is when plants or animals grow or get caught on a piece of equipment. 

This happens a lot in the ocean. The picture below is a glider (not an Argo float) that has been in the ocean for several months. It moves in the ocean horizontally. Argo floats also have things growing on them, but nobody retrieves Argo floats, so we don't have any pictures. 

![Biofouling-on-glider.png](https://www.researchgate.net/profile/C_Nichols2/publication/342932620/figure/fig3/AS:927701548408833@1598192693139/Biofouling-on-an-Ocean-Observatories-Initiative-OOI-ocean-glider-recovered-by-the.png)

>Because of biofouling, sometimes our floats don't record the correct temperature. When this happens, the measurement is usually **very different** from the measurement we would expect.  

Here is an example of some temperature data. 

> **Which temperature do you think is wrong?**

In [ ]:
#Depth of Argo float in meters
argo_depth = [-10, -20, -30, -40, -50, 
              -60, -70, -80, -90, -100, 
              -120, 140, -160, -180, -200, 
              -220, -240, -260, -280, -300]

#Temperature measurements in degrees C
argo_temp = [18.4, 18.3, 18.3, 18.1, 17.3, 
             16.8, 80, 12.2, 8.4, 3.4, 
             3.3, 2.5, 2.1, 2.1, 2.1, 
             2.1, 2.1, 2.0, 2.0]

We would like to automatically identify temperatures that are not realistic. We can do this using *Booleans*.

# **What is a Boolean?**

>A Boolean value is a type of Python object that can only have two values: `True` or `False`. 

Python will automatically create a Boolean value if you use a Boolean operator, such as:

*   `<` (less than)
*   `>` (greater than)
* `==` (equal to)
* `!=` (not equal to)

For example, if `a=1` and `b=2`:

In [ ]:
a = 1
b = 2

We can ask Python whether `a>b`:

In [ ]:

print(a>b)

However, if we ask Python whether `a<b`, we get a different answer:

In [ ]:
print(a<b)

Python tells us that that is `True`. 

> **Now try for yourself: practice changing the values of `a` and `b` in the next cell and predict whether the output will be `True` or `False`.**

In [ ]:
a = 1
b = 2

print(a==b)

> The single equation sign `=` is for assigning variables and the double equation sign `==` is for using Booleans to check whether two values are equal. 

We can use these Boolean operators to find the bad values in the list of temperature measurements (which we will do in a bit).

Another Boolean operator is `in`. It is used to check whether a particular item exists in a list, for example

In [ ]:
#create new list
oceans = ['Atlantic','Pacific','Indian','Southern']

In [ ]:
#check whether 'Atlantic' is in this list:
'Atlantic' in oceans

> **Write your own code to check whether `'Pacific'` is in the list**

In [ ]:
#Write your own code here

Below is a list of species found at the Rockaways, from earlier in the lecture.

In [ ]:
# big list of somes species at the Rockaways
rockaway_species = ['lobster', 'crabs', 'shrimp', 'seagull','heron', 'pelican',
                    'eel', 'herring', 'needlefish', 'sturgeon', 'anchovy',
                    'seabass', 'seahorse','mummichog', 'pufferfish', 'sunfish',
                    'striped bass', 'blue shark', 'bull shark', 'nurse shark',
                    'sandbar shark', 'scalloped hammerhead', 'mako shark', 
                    'thresher shark', 'atlantic torpedo ray', 'little skate',
                    'roughtail stingray', 'bottlenose dolphin', 'grey seal',
                    'blue whale', 'fin whale', 'north alantic right whale',
                    'humpback whale', 'moon jellyfish', 'starfish', 'clams',
                    'mussels', 'oysters', 'algae', 'sea lettuce']

> **Using python, find out whether `'bottlenose dolphin'` is in the list**

In [ ]:
#Write your code here

# **If statements**
Boolean values are really useful in **if statements**. Here's an example.

In [ ]:
a = 1
b = 2

if (a==b):
  print('a is equal to b')

> Because `a` and `b` are not equal in the above example, there is no output. 
>
> **Try changing `a` and `b` to be equal and running the cell again.**

The layout of the code is important. You have to include the colon `:` in the first line of the `if` statement. 

The indent before the `print` statement tells the code that the `print` statement is **inside** the `if` statement.

If we add more code with an indent, that code is *inside* the `if`.

> **Run the code below. What is the output? Why?**

In [ ]:
a = 1
b = 2

if (a==b):
  print('a is equal to b')
  print('This is inside the if statement')

> **Try changing `a` and `b` to be equal and run the above cell again.**

If we add more code without an indent, that code is *outside* the `if`, so it will run whether or not `a==b` is `True`. 

> **Run the code below. What is the output? Why?**

In [ ]:
a = 1
b = 2

if (a==b):
  print('a is equal to b')
print('This is outside the if statement')

> **Try changing `a` and `b` to be equal and run the above cell again.** 

Python expects there to be *some code* inside the `if`. So if there is no indent on the next line, the code will give an error. 

> **Run the code below. What is the output? Why?**

In [ ]:
a = 1
b = 2

if (a==b):
print('a is equal to b')

# Using if statements to find incorrect measurements
We would like to write some code that tells us if a measurement is not realistic, which we are defining as: hotter than 30$^{\circ}$C or colder than -2$^{\circ}$C. 

The next cell checks if the measurement is above 30$^{\circ}$C.

> **Run the code below. What is the output? Why?**

In [ ]:
measurement = 31
if measurement>30:
  print('The measurement is too hot, so we should discard it')

> **In the next cell, write code that warns us if `measurement` is colder than -2$^{\circ}$C.**

In [ ]:
#Your code here

Remember we wanted to find out which of the temperatures is wrong. Now we can do this automatically:

In [ ]:
#Depth of Argo float in meters
argo_depth = [-10, -20, -30, -40, -50, 
              -60, -70, -80, -90, -100, 
              -120, 140, -160, -180, -200, 
              -220, -240, -260, -280, -300]

#Temperature measurements in degrees C
argo_temp = [18.4, 18.3, 18.3, 18.1, 17.3, 
             16.8, 80, 12.2, 8.4, 3.4, 
             3.3, 2.5, 2.1, 2.1, 2.1, 
             2.1, 2.1, 2.0, 2.0]

In [ ]:
measurement = argo_temp[4]
if measurement>30:
  print('The measurement is too hot, so we should discard it')

After running the code above, we see that the value that has an index of `4` in our `argo_temp` list is **not** `>` 30.

# **For Loops**

For loops are extremely useful! They iterate over (run through) a sequence, which can be a list, a dictionary, a string, or a tuple (which is similar to a list, but uses `()` instead of `[]`). 

Using a `for` loop, you can run multiple statements (one for each item in a list, string, etc.).

When you have a command or set of commands (statements) you want to run some number (x) of times, you use a `for' loop with the structure:

  for x in creatures:
      print(x)

For our list `creatures`, the `for` loop above will run the `print()` command `x` number of times (which, in this case, `x` is equal to `len(creatures)`).

Let's use our `rockaway_species` list in a `for` loop:

In [ ]:
# first, let's print our rockaway_species list to remind ourselves what it contains
print(rockaway_species)

We can try running the same for loop as we did above for the `creatures` list, but this time we will use `rockaway_species`:

In [ ]:
for x in rockaway_species:
  print(x)

You'll quickly notice that this for loop gives us essentially the same output as the `print(rockaway_species)` command does. 

Let's use a `for` loop to get a different result. Instead of `print(x)`, let's print `len(x)`:

In [ ]:
for x in rockaway_species:
  print(len(x))

This prints the **length** of each item in our `rockaway_species` list!

 Try using a different command in the for loop below:

In [ ]:
for x in rockaway_species:
  #your command here


We can also **combine** `for` loops and `if` statements!

In [ ]:
for x in rockaway_species:
  if len(x) == 7:
    print(x)

What exactly is this code doing?
> This code prints `x`, if the length of `x` is equal to `7`, for each `x` in the `rockaway_species` list.
>
> OR, worded another way:
>
> For each item `x` in our `rockaway_species` list, if the length of `x` is equal to `7`, the code will print `x`.

Try creating your own combination of a `for` loop and `if` statement below!

In [ ]:
# your code here

The End! See you next week :)